header {
  align-items: center;
  background-color: #003be5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header img {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

p {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px 20px;
}
