.music-card {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.music-card h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.music-card p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.music-card audio {
  margin-bottom: 10px;
  width: 90%;
}

.music-card label {
  align-items: center;
  display: flex;
  margin-top: 2px;
}

/* stylelint-disable-next-line */
.music-card input[type='checkbox'] {
  display: none;
}

.music-card img {
  cursor: pointer;
  height: 26px;
  margin-left: 25%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}
